@model IEnumerable<Charity.Web.Areas.Administration.Models.DonorListViewModel>

@{
    ViewBag.Title = "Index";
}

<h3>Donors list</h3>

@Html.Partial("_DonorSearchForm")

<table class="table" id="students-list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
    </tr>

    @foreach (var donor in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => donor.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => donor.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => donor.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => donor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => donor.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { username = donor.UserName }, null) |
                @*@Html.ActionLink("Edit", "Edit", new { id = donor.Id }) |*@
                @Html.ActionLink("Details", "Details", new { username = donor.UserName }, null) |
                @*@Html.ActionLink("Details", "Details", new { id = donor.Id }) |*@
            </td>
        </tr>
    }
</table>
