<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FoodShare</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FoodShare", "Index", new { controller = "Home", area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new {})</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "Administration" }, new { })</li>
                    <li>@Html.ActionLink("Donors", "Index", "Donors", new { area = "Administration" }, new { })</li>
                    <li>@Html.ActionLink("Recipients", "Index", "Recipients", new { area = "Administration" }, new { })</li>
                    <li>@Html.ActionLink("Donations", "Index", "FoodDonations", new { area = "Administration" }, new { })</li>
                    <li>@Html.ActionLink("Requests", "Index", "FoodRequests", new { area = "Administration" }, new { })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Flash.FlashMessage(TempData)

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FoodShare</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/kendo")
    <script>
        kendo.culture("en-GB");
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
