@model Charity.Web.Models.FoodDonations.FoodDonationViewModel

<div class="item col-xs-4 col-lg-4 grid-group-item">
    <div class="thumbnail">
        @if (Model.ImageUrl != null && Model.ImageUrl.Length > 0)
        {
            <img class="group list-group-image" src="@Model.ImageUrl" alt="" />
        }
        else
        {
            <img class="group list-group-image" src="/Content/Images/Donations_Food/globe-of-hands.jpg" alt="" />
        }

        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                @Model.Name by @Model.Donor.OrganizationName
            </h4>
            <p class="group inner list-group-item-text">
                @Model.Description
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <p class="lead">
                        @Model.Quantity
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.ActionLink("Details", "Details", "FoodDonations",
                        new { area = "", id = Model.Id }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>