@using Charity.Web.Areas.Recipients.Models
@model Charity.Web.Models.FoodDonations.FoodDonationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="row">
    <div class="col-lg-6">
        @if (Model.ImageUrl != null && Model.ImageUrl.Length > 0)
        {
            <img class="group list-group-image" src="@Model.ImageUrl" alt="" />
        }
        else
        {
            <img class="group list-group-image" src="http://d225fqn1pkg6mt.cloudfront.net/wp-content/uploads/2013/12/How_to_start_a_charity.jpg" alt="" />
        }
    </div>

    <dl class="dl-horizontal col-lg-4">
        <dt>
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donor.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableTo)
        </dd>
    </dl>
</div>

@if (User.IsInRole(Charity.Common.GlobalConstants.RecipientRoleName) && ViewBag.showRequestForm == true)
{
    <div class="row top-buffer">
        <div class="col-lg-6">
            @Html.Partial("~/Areas/Recipients/Views/FoodRequests/_FoodRequest.cshtml", new FoodRequestRegisterModel(Model.Id))
        </div>
    </div>


    @section scripts {
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else if (User.IsInRole(Charity.Common.GlobalConstants.RecipientRoleName))
{
    <div class="row top-buffer">
        <div class="col-lg-6">
            <div class="well bs-component">
                You have already requested this item
            </div>
        </div>
    </div>
}